.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #c7ebe9;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

#item {
  background-color: rgb(218, 212, 212);
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
}
